/* MaxLengthInput.css */
textarea, .title-input {
  font-size: 13px;
  line-height: 1.6;
}

.input-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  position: relative;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
}

.input-info-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.input-id {
  font-weight: bold;
}

.title-input {
  width: 100%;
  margin-bottom: 10px;
  padding: 5px;
  box-sizing: border-box;
}

.char-count {
  margin-left: auto;
}

button {
  margin-top: 10px;
}

button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
