.Header {
  position: relative; 
  width: calc(100% - 40px); 
  display: flex; 
  justify-content: flex-end; 
  align-items: center; 
  background-color: white; 
  padding: 10px 20px; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
  font-size: 16px;
  color: #007BFF;
  overflow-x: hidden; 
}

.Header a {
  text-decoration: none; 
  color: inherit; 
}

.Header a:hover {
  color: #0056b3; 
}

.Header .page {
  margin-right: 20px;
}

.Header .name {
  margin-right: 20px;
}

.Header .Logo {
  position: absolute;
  top: 10px;
  left: 10px; 
  font-size: 16px;
}

label + input + label { display: none !important; }
.pw-match {
 color: red;
 display: block !important;
}

.text-danger{
  color: red;
}